@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/css");
}

<div class="container">
    <h3 class="text-center mt-3">Gaming accessories</h3>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 menuall">
            <div class="Items">
                <img src="images/Menu/Mushroomburger1.jpg">
                <div class="allthings">
                    <p class="itemheading">Ham Burger<p>
                    <p class="itemdes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam perspiciatis doloribus o</p>
                    <div class="add d-inline-flex">
                        <p class="addalliconsp">200.00/=</p>
                        <div class="addall">
                            <button class="minusplus">
                                <i class="addallicons fa fa-minus quantity"></i>
                            </button>
                            <p class="addalliconsp">1</p>
                            <button class="minusplus">
                                <i class="addallicons fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="addtocart">
                        <p class="">Details</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button class="viewmore">
        <p class="">
            VIEW MORE
            <i class="fa fa-arrow-right"></i>
        </p>
    </button>


    <h3 class="mt-3 text-center">Rental Service</h3>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 menuall">
            <div class="Items">
                <img src="images/Menu/Mushroomburger1.jpg">
                <div class="allthings">
                    <p class="itemheading">Ham Burger<p>
                    <p class="itemdes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam perspiciatis doloribus o</p>
                    <p class="itemdes">For 10 days</p>
                    <div class="add d-inline-flex">
                        <p class="addalliconsp">200.00/=</p>
                        <div class="addall">
                            <button class="minusplus">
                                <i class="addallicons fa fa-minus quantity"></i>
                            </button>
                            <p class="addalliconsp">1</p>
                            <button class="minusplus">
                                <i class="addallicons fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="addtocart">
                        <p class="">Details</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


