
@{
    ViewBag.Title = "ProductPage";
    @Styles.Render("~/Content/css");
}
<div class="container">
    <div class="row">
        <h2 class="m-3">Most Recent ProductName</h2>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 menuall bg-gradient bg-opacity-75 rounded-bottom">
            <div class="Items">
                <img src="~/images/gow.jpg">
                <div class="allthings">
                    <p class="itemheading">itemhead<p>
                    <p class="itemdes">Itemdes</p>
                    <div class="add d-inline-flex">
                        <p class="addalliconsp">Prize/=</p>
                    </div>
                    <button class="addtocart">
                        <p class="">Details</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <h2 class="m-3">All Products</h2>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 menuall bg-gradient bg-opacity-75 rounded-bottom">
            <div class="Items">
                <img src="~/images/gow.jpg">
                <div class="allthings">
                    <p class="itemheading">itemhead<p>
                    <p class="itemdes">Itemdes</p>
                    <div class="add d-inline-flex">
                        <p class="addalliconsp">Prize/=</p>
                    </div>
                    <button class="addtocart">
                        <p class="">Details</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

